.custom-nav{
    padding-top: 20px;
}

.bg-custom{
    background-color: #F3F3F0;
}

.custom-navbar{
    background-color:#555555;
}
.down-nav{
    margin-left: 180px;
}

.down-nav2{
    margin-left: 250px;
}

.footer{
    color: aliceblue;
}